.about-section {
  padding: 125px 0px 80px;
}
.about-section .image-block {
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 30px;
}
.about-section .image-one {
  position: relative;
}
.about-section .image-one img {
  width: 580px !important;
  height: 510px;
  box-shadow: 0 10px 15px -2px #0000009e;
}
.about-section .image-two {
  position: absolute;
  left: -55px;
  bottom: 0;
}
.about-section .image-two img {
  border: 10px solid #fff;
  width: 300px;
  height: 240px;
  object-fit: cover;
  box-shadow: 0 10px 15px -2px #0000009e;
}
.about-section .content-block {
  position: relative;
  margin-bottom: 10px;
}
.sec-title {
  position: relative;
}
.sec-title .sub-title {
  position: relative;
  font-size: 16px;
  padding-bottom: 15px;
  color: #6c5ebf;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 600;
}
.sec-title .sub-title:before {
  position: absolute;
  content: "";
  height: 3px;
  width: 63px;
  bottom: 0;
  left: 0;
  border: dotted;
  color: #6c5ebf;
}
.sec-title h2 {
  position: relative;
  font-size: 48px;
  line-height: 54px;
  font-weight: 700;
}
.about-section .text {
  position: relative;
  margin-bottom: 15px;
}
.about-section .bottom-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 24px;
}
.about-section h4 {
  font-size: 33px;
  margin: 0px 30px 0px 0px;
  color: #6c5ebf;
  font-weight: 600;
}
.about-section .contact-number {
  position: relative;
}

.about-section .contact-number a {
  color: #6c5ebf;
  position: relative;
  display: flex;
  border: 2px solid #000;
  padding: 3px;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 700;
  vertical-align: middle;
  padding-right: 30px;
  transition: 0.5s;
  align-items: center;
}
.about-section .contact-number .call {
  width: 50px;
  height: 50px;
  background: #6c5ebf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 17px;
}

.about-section .contact-number a:hover {
  border-color: #ffb400;
}
.about-section .contact-number a:hover .call {
  background-color: #ffb400;
  color: #000;
}
/* gallery sec css start */
.gallery-main {
  position: relative;
  margin-bottom: 30px;
}
.gallery-img {
  position: relative;
  overflow: hidden;
}
.gallery-img:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 10;
}
.gallery-img img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.7s;
}
.gallery-main:hover .gallery-img img {
  transform: scale(1.1);
}
.gallery-img:hover:before {
  -webkit-animation: circle 0.95s;
  animation: circle 0.95s;
}

#light-box-img {
  /* height: 400px;
  max-width: 400px; */
  object-fit: cover;
}

#light-box {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#light-box button {
  border: none;
  background: #6c5ebf;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  transition: 0.9s ease;
}
#light-box button:hover {
  background-color: #ffb400;
  transition: 0.9s ease;
}

/* gallery sec css end */
